@model EvonaZadatak.Models.Award;
@{
    ViewData["Title"] = "Edit Award";
}
<div class="container">


    <div class="form-container ">
        <h3 class="mb-4 text-center">Edit award</h3>
        <form asp-controller="Award" asp-action="UpdateAward">
            <input type="hidden" asp-for="Id" />
            @Html.AntiForgeryToken()
            <div class="form-group mb-3">
                <label asp-for="Name" class="text-left mb-2">Award name</label>
                <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Name" required asp-for="Name">
            </div>
            <div class="form-group mb-3">
                <label asp-for="Amount" class="text-left mb-2">Amount</label>
                <input asp-for="Amount" type="number" class="form-control" id="amount" placeholder="Amount" required asp-for="Amount">
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>

    <style>
        .form-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f8f9fa;
        }
    </style>


</div>
